.projects-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background: var(--bg-gradient-reverse);
  color: var(--text-color);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project-slide {
  min-width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  padding: 3rem;
  scroll-snap-align: start;
  background: var(--bg-gradient-reverse);
  /* background-color: #041a3a; */
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
